:root {
    --second-color: #0b2441;
    --main-color: #0b2441;
    --blue: #007bff;
    --red: #e74c3c;
    --green: #3AA346;
    --yellow: #ffc701;
    --white: #fff;
    --black: #2c3e50;
    --light-color: #636363;
    --light-bg: #f5f7f8;
    --border: .1rem solid rgba(0, 0, 0, .2);
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    flex-wrap: wrap;
    text-decoration: none;
}

*::selection {
    background-color: var(--main-color);
    color: #fff;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--white);
    text-align: center;
}

.header {
    background-color: #fff;
    padding: .5rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    text-align: center;
    justify-content:flex-start;
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: .5rem;
    flex-direction: row;
}

.header .logo {
    display: flex;
    text-align: center;
    justify-content: center;
}

.header .logo a {
    font-size: 1.7rem;
    font-weight: 900;
    padding: 0 1rem;
    text-align: center;
    align-items: center;
    display: flex;
    position: relative;
    color: var(--main-color);
}

.header .logo .search-form {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 3rem;
    padding: .5rem;
    flex-direction: row;
    min-width: 30rem;
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .logo .search-form input {
    border: none;
    outline: none;
    padding: 0 .5rem;
    min-width: 30rem;
    flex-wrap: nowrap;
    font-size: 1rem;
    border-radius: 3rem;
}

.header .logo .search-form button {
    background-color: var(--main-color);
    border: none;
    outline: none;
    color: var(--white);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header .logo .search-form button img {
    width: 1.5rem;
    height: 1.5rem;
}

.header .nav {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
    margin: auto;
    color: var(--main-color);
}

.header .nav span{
    font-size: 1.2rem;
}
.header .nav a {
    font-size: 1.3rem;
    padding: 0 1rem;
    color: var(--light-color);
    transition: .3s linear;
}

.header .nav a:hover {
    color: var(--blue);
}

.header .user-btn{
    display: flex;
    align-items: center;
    position: relative;
    align-items: center;
    justify-content: center;
}

.header .user-btn-icon{
    display: flex;
    font-size: 1.3rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    transition: .2s linear;
}



.header .profile {
    position: absolute;
    top: 120%;
    right: 1rem;
    background-color: var(--white);
    padding: 1rem;
    text-align: center;
    width: 15rem;
    transform: scale(0);
    transform-origin: top right;
    transition: .2s linear;
}

.header .profile.active {
    transform: scale(1);
}

.header .profile img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.header .profile h3{
    font-size: 1rem;
    color: var(--black);
}

.header .profile span {
    color: var(--light-color);
    font-size: 1rem;
}


.home-page .intro {
    position: relative;
    padding-bottom: 1rem;
}

.home-page .intro h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    padding-top: 6rem;
    color: var(--main-color);
    font-weight: 900;
    text-align: center;
}

.home-page .intro .home-search-form {
    border: 1px solid #b3bdc0;
    border-radius: 1.5rem;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    font-size: 2rem;
    height: 3rem;
    margin: auto;
    text-align: center;
    width: 50%;
}


.home-page .intro .home-search-form input::placeholder {
    font-size: 1.5rem;
    line-height: 3rem;
    color: #888;
    width: 100%;
}

.home-page .intro .home-search-form button {
    background-color: #fff;
    color: #757575;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 1rem;
    margin-right: .5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.home-page .intro input {
    display: flex;
    font-size: 1.5rem;
    margin: auto;
    margin-left: 1rem;
    text-align: center;
    width: 100%;
}

.home-page .intro .illustrations {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: auto;
    justify-content: space-around;
    gap: 1rem;
    padding-bottom: 1rem;
    overflow: hidden;
}

.home-page .intro .illustrations .homeb-img {
    width: auto;
    display: flex;
    position: relative;
    height: 20rem;
}

.home-page .intro .illustrations .home-img {
    position: relative;
    width: auto;
    display: flex;
    height: 17rem;
}

.home-page .stats {
    background-color: var(--second-color);
    color: var(--white);
    padding: .5rem;
    overflow: hidden;
}

.home-page .stats h2 {
    font-size: 1.4rem;
    text-align: center;
    padding: 1.2rem 0;
    justify-content: center;
}

.home-page .stats .companies {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    width: 220%;
    height: 100%;
    animation: marquee 60s linear infinite;

}

.home-page .stats span {
    color: var(--yellow);
}

.home-page .stats .companies img {
    height: 2rem;
    overflow: auto;
    align-items: center;
    flex-wrap: nowrap;
}

/*cards section*/
.background {
    background-image: url(./image/bgnew.png);
    width: 100%;
    display: flex;
    justify-content: center;
}

.background h1 {
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
    padding-top: 2.5rem;
}

.card-container {
    justify-content: center;
    display: flex;
    max-width: 75rem;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    flex-wrap: wrap;
    /* Ensure the cards wrap to the next line */
}

.card {
    background-color: var(--white);
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 13rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    /* Ensure the content is stacked vertically */
    align-items: center;
    /* Center the content horizontally */
    justify-content: center;
    /* Center the content vertically */
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    transition: .2s linear;
}

.card:hover {
    transform: scale(1.08);
}

.card-icon {
    background-color: var(--main-color);
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1rem auto;
    font-size: 1.5rem;
}

.card-content h3 {
    margin: 1rem 0;
    font-size: 1rem;
    color: #333;
}

.card-content p {
    margin: 0;
    font-size: 0.8rem;
    color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content p i {
    margin-left: .5rem;
}

.marquee {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    flex-wrap: nowrap;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/*boxes */
.careers {
    background-image: url(./image/bg2.png);
    padding: 1.5rem;
}

.careers h1 {
    font-size: 1.5rem;
    color: white;
    padding: 1.5rem;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    background: white;
    border-radius: 1.5rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: .6rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: .2s linear;
}

.box:hover {
    transform: scale(1.08);
}

.box h3 {
    font-size: 1rem;
    padding-bottom: .5rem;
}

.box span{
    color: var(--yellow);
}

.box img {
    height: 10rem;
    width: 100%;
    object-fit: contain;
}

.box-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.box-content {
    margin-top: 1rem;
}

.box-content p {
    font-size: 0.9em;
    line-height: 1.4;
    max-width: 18rem;
}

.box-content a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    margin-top: 1rem;
    display: inline-block;
}

.box-content a:hover {
    text-decoration: underline;
}



.join-us {
    display: flex;
    background-color: var(--light-bg);
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 2rem 2rem;
}

.join-us-left {
    text-align: start;
    position: relative;
    padding-left: 7%;
}

.join-us-left h1 {
    font-size: 3rem;
    color: var(--main-color);
    padding: 1rem 0;
    padding-top: 2.5rem;
}

.join-us-left p {
    font-size: 1rem;
    color: var(--black);
}

.join-us-right {
    position: relative;
    padding: 0 2rem;
}

.join-us-right img {
    width: 40rem;
}

footer {
    background-color: var(--main-color);
    color: #fff;
    padding: 2.5rem 0;
    position: relative;
    width: 100%;
}

.footer-container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 74rem;
    width: 100%;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-column {
    flex: 1;
    min-width: min-content;
}

.footer-column h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.footer-column p,
.footer-column ul,
.footer-column a {
    color: #bbb;
    font-size: 1.2rem;
    text-decoration: none;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 1rem;
}

.footer-column ul li a:hover {
    color: #fff;
}

.social-icons {
    display: flex;
}

.social-icons a {
    color: #bbb;
    font-size: 18px;
    margin-right: 15px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #fff;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    color: #bbb;
    font-size: 1rem;
    margin-right: 1rem;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
}

.footer-bottom p {
    margin: 0;
    font-size: 1.5rem;
    padding: 1rem;
    width: 100%;
}

.course {
    padding-top: 5rem;
}


.course .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
    align-items: flex-start;
    padding-bottom: 2.5rem;
    justify-content: center;
}

.course .box-container .box {
    border-radius: 1rem;
    background-color: var(--white);
    padding: 1rem;
}

.heading {
    padding-bottom: 1rem;
    border-bottom: var(--border);
    font-size: 1.5rem;
    color: var(--black);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.course .box-container .box .thumb {
    width: 100%;
    border-radius: 1rem;
    height: 10rem;
    object-fit: cover;
}

.course .box-container .box .title {
    font-size: 1rem;
    color: var(--black);
    margin-top: .5rem;
    padding: .5rem 0;
}

.course .more-btn {
    margin-top: 1rem;
    text-align: center;
    display: block;
    border-radius: .5rem;
    cursor: pointer;
}

.course img {
    width: 90%;
}

.buttons {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: .5rem;
}

.buttons a {
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    font-size: 1rem;
    margin-right: .5rem;
}

.buttons .join-free {
    background-color: #0070f3;
    border-radius: 2rem;
    color: var(--white);
    padding: .5rem 1rem;
}

.buttons .business {
    border: 1px solid #0070f3;
    color: #0070f3;
    border-radius: 2rem;
    padding: .5rem 1rem;
}

.responsive {
    width: 100%;
    height: auto;
}

/*about section*/
.about .row {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 20rem;
}

.about .row .image img {
    width: 100%;
    height: 25rem;
}

.about .row .content {
    flex: 1 1 20rem;
    text-align: center;
}

.about .row .content h3 {
    font-size: 1.5rem;
    color: var(--black);
}

.about .row .content p {
    line-height: 2;
    font-size: 1rem;
    color: var(--light-color);
    padding: .5rem 0;
}

.about .box-container {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.about .box-container .box {
    flex: 1 1 10rem;
    /*important*/
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 1rem;
    gap: 1rem;
}

.about .box-container .box i {
    font-size: 1.5rem;
    color: var(--main-color);
}

.about .box-container .box span {
    font-size: 1rem;
    color: var(--light-color);
}

.candidate-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
}

.candidate-section h1{
    font-size: 2rem;
    color: var(--main-color);
    padding: 1rem;
    padding-top: 1rem;
}

.candidate-section h3 {
    font-size: 1rem;
    color: var(--main-color);
}

.candidate p{
    max-width: 17rem;
    line-height: 1.5;
    font-size: 1.2rem;
}

.candidate-section {
    background-image: url(./image/whitebg.jpg);
    padding: 1rem;
    object-fit: contain;
}

.candidate {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    height: max-content;
    gap: 1rem;
}

.candidate img{
    border-radius: 50%;
    height: 12rem;
}

.candidate h4{
    font-size: 1.4rem;
}

.features {
    background-color: var(--light-bg);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.features-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    flex-direction: row;
    padding: 2rem 0;

}

.features-box {
    background: white;
    border-radius: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    gap: 1rem;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--main-color);
    justify-content: center;
    transition: .2s linear;
}

.features-box img{
    height: 10rem;
    object-fit: contain;
}

/*buttons*/
.btn, .option-btn, .delete-btn, .inline-btn, .inline-option-btn, .inline-delete-btn{
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1rem;
    color: var(--white);
    text-transform: capitalize;
    cursor: pointer;
    margin-top: .5rem;
    text-align: center;
}

.btn, .option-btn, .delete-btn{
    display: block;
    border-radius: 2rem;
    width: 100%;
}

.inline-btn, .inline-option-btn, .inline-delete-btn{
    display: inline-block;
    border-radius: 26px;
}

.btn, .inline-btn{
    background-color: var(--main-color);
}

.option-btn, .inline-option-btn{
    background-color: var(--blue);
}

.delete-btn, .inline-delete-btn{
    background-color: var(--red);

}

.btn:hover, .option-btn:hover, .delete-btn:hover, .inline-btn:hover, .inline-option-btn:hover, .inline-delete-btn:hover{
    background-color: var(--black);
    color: var(--white);
}

.flex-btn{
    display: flex;
}

/*form container*/

.form-container{
    display: flex;
    background-image: url(./image/whitebg.jpg);
    height: 100%;
    padding-top: 4rem;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    min-height: calc(100vh - 20rem);
}

.form-container form{
    background-color: var(--main-color);
    opacity: 0.9;
    border-radius: .5rem;
    padding: 1rem;
    width: 25rem;
}

.form-btn{
    background-color: var(--yellow);
    display: block;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1rem;
    color: black;
    text-transform: capitalize;
    cursor: pointer;
    margin-top: .5rem;
    text-align: center;
    border-radius: 2rem;
    width: 100%;
}

.form-btn:hover{
    background-color: var(--blue);
    color: var(--white);
}

.form-container form h3{
    text-align: center;
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: .5rem;

}

.form-container form p{
    font-size: 1.3rem;
    color: var(--white);
}


.form-container form p span{
    color: var(--red);
}

.form-container form .box{
    width: 100%;
    border-radius: .5rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    color: var(--black);
    padding: .6rem;
    background-color: var(--white);
}

.form-box {
    background: white;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    width: 100%;
    padding: .6rem;
    position: relative;
    color: black;
    transition: .2s linear;
}

.form-container img{
    height: 30rem;
}

/*chatbot section*/
.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  z-index: 100;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--yellow);
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}

.chatbot-toggler span i{
    font-size: 1.5rem;
    color: var(--main-color);
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: 35px;
  bottom: 90px;
  z-index: 100;
  width: 420px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  z-index: 100;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: var(--main-color);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  font-size: 1.4rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 510px;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
  z-index: 100;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: var(--main-color);
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: var(--main-color);
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 93%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: var(--main-color);
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
  display: flex;
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}


@media (max-width:1200px) {}


@media (max-width:991px) {

    .responsive {
        display: none;
    }

    .join-us-left {
        padding-left: 0;
    }
}

@media (max-width: 768px) {

    .footer-row {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        margin: 1rem 0;
    }
}

@media (max-width: 450px) {}

/* Styling Roadmap Button */
.roadmap{
    border-radius: .5rem;
    padding: .5rem;
    background-color: var(--main-color);
    font-size: 1rem;
    color: var(--white);
    text-transform: capitalize;
    cursor: pointer;
    margin-top: .5rem;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    font-size: 1rem;
    margin-right: .5rem;
}
.roadmapbtn{
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--main-color);
    text-transform: capitalize;
    cursor: pointer;
    margin-top: .5rem;
    text-align: center;
}

/* playlist box making */
.playlist .row {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: var(--white);
}

.playlist .row .col {
    flex: 1 1 40rem;
    text-align: justify;
}

.playlist .row .col .save-list button {
    font-size: 1rem;
    border-radius: 3rem;
    background-color: var(--main-color);
    padding: 1.2rem 2.5rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.playlist .row .col .save-list button i {
    color: var(--white);
    margin-right: 1rem;
}


.playlist .row .col .save-list button span {
    color: var(--white);
}


.playlist .row .col .save-list button:hover {
    background-color: var(--light-bg);
}


.playlist .row .col .save-list button:hover i {
    color: var(--main-color);
}


.playlist .row .col .save-list button:hover span {
    color: var(--main-color);
}

.playlist .row .col .thumb {
    position: relative;
    height: 30rem;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.playlist .row .col .thumb img {
    width: 100%;
    height: 82%;
    border-radius: .5rem;
    object-fit: cover;
}


.playlist .row .col .thumb {
    width: 103%;
    height: 30rem;
    border-radius: .5rem;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist .row .col .thumb span {
    position: absolute;
    top: 4rem;
    left: 1rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
}

.playlist .row .col .tutor {
    display: flex;
    align-items: center;
    gap: 1.7rem;
}

.playlist .row .col .tutor img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.playlist .row .col .tutor h3 {
    font-size: 1.5rem;
    color: var(--black);
    margin-bottom: .2rem;
}

.playlist .row .col .tutor span {
    color: var(--main-color);
    font-size: 1rem;
}

.playlist .row .col .details {
    padding: 1rem;
}

.playlist .row .col .details h3 {
    font-size: 1.3rem;
    color: var(--black);
}

.playlist .row .col .details p {
    padding: 1rem 0;
    line-height: 1.4;
    color: var(--light-color);
    font-size: 1.2rem;
}

.playlist .row .col .details .date {
    font-size: 1.2rem;
    padding-top: .5rem;
}

.playlist .row .col .details .date i {
    color: var(--main-color);
    margin-right: 1rem;
}

.playlist .row .col .details .date span {
    color: var(--light-color);
}


.videos-container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap:1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.videos-container .box-container .box{
    position: relative;
    border-radius: .5rem;
    padding: 2rem;
    background-color: var(--white);
}

.videos-container .box-container .box img{
    height: 20rem;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.videos-container .box-container .box i{
    position: absolute;
    top: 2rem; left: 2rem; right: 2rem;
    height: 20rem;
    background-color: rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: var(--white);
    border-radius: .5rem;
    display: none;
}

.videos-container .box-container .box:hover i{
    display: flex;
    transition: .2s linear;
}

.videos-container .box-container .box h3{
    font-size: 1.5rem;
    color: var(--black);
    margin-top: 1rem;
}

.videos-container .box-container .box:hover h3{
    color: var(--main-color);
    font-size: 1.5rem;
    transition: .3s linear;
}

/*my profile section*/
.profile-section{
    display: flex;
    background-color: var(--main-color);
    padding-top: 6rem;
    justify-content: flex-start;
}

.side-profile{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    min-width: 22rem;
    gap: 1rem;
}



.side-profile img{
    height: 10rem;
    border-radius: 10rem;
}

.side-profile h1{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.side-personal-box{
    background-color: var(--white);
    border-radius: 2rem;
    gap: 1rem;
    padding: 1.5rem;
}

.main-profile{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: start;
    margin: 1rem;
    gap: 1rem;
}

.main-profile h1{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.main-profile img{
    height: 7rem;
}

.personal-box{
    background-color: var(--white);
    border-radius: 2rem;
    padding: 1.5rem;
}

/*activity chart*/
.activity-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.stats1 {
    display: flex;
    gap: 10px;
}

.months {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.months span {
    flex: 1;
    text-align: center;
}

/*certificate*/
.certificates{
    display: flex;
    padding: .5rem;
    margin: 1rem;
    justify-content: flex-start;
    transform: scale(1.2);
    transition: .2s linear;
}

.certifi{
    display: flex;
    flex-direction: row;
}

.certificates:hover{
    transform: scale(1.4);
}
/* watch video */

.watch-video{
    background-image: url(./image/whitebg.jpg);
}

.watch-video .video-details .video{
    width: 100%;
    border-radius: .5rem;
    height: 100vh;
}

/* comments on video */
.comments .add-comment{
    background-color: var(--white);
    border-radius: .5rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

.comments .add-comment textarea{
    border-radius: .5rem;
    padding: 1.4rem;
    width: 100%;
    height: 25rem;
    background-color: var(--light-bg);
    resize: none;
    font-size: 1.8rem;
    color: var(--black);
}

.comments .show-comments{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    display: grid;
    gap: 2.5rem;
}


.comments .show-comments .user{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.comments .show-comments .user img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.comments .show-comments .user h3{
    font-size: 2rem;
    color: var(--black);
    margin-bottom: .2rem;
}

.comments .show-comments .user span{
    color: var(--light-color);
    font-size: 1.5rem;
}

.comments .show-comments .text{
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding: 1rem 1.5rem;
    color: var(--black);
    margin: .5rem 0;
    position: relative;
    z-index: 0;
    white-space: pre-line;                                   /*important*/
    font-size: 1.8rem;
}

.comments .show-comments .text::before{
    content: '';                                            /*important*/
    position: absolute;
    top: -1rem; left: 1.5rem;
    height: 1.2rem;
    width: 2rem;
    background-color: var(--light-bg);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);         /*important*/
}
/* Flipcard Section In About Section */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: black;
    transform: rotateY(180deg);
  }
/*work experience*/
.inner-content{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
}

hr{
    border: 0.7px solid black;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.work-content p{
    max-width: none;
    flex-wrap: nowrap;
}

.Links img{
    width: 3rem;
    margin-left: 2rem;
    height: auto;
}

.skills{
    display: flex;
    flex-direction: row;
}

.skills img{
    height: 4rem;
    gap: 1rem;
}

.live{
    background-image: url(./image/whitebg.jpg);
    padding-top: 6rem;
}

/*chat section starts*/

.avatar {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img,
.chat-avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-header-right i{
    font-size: 1.8rem;
    margin: 5px 13px;
    color: var(--white);
}

.chat-section {
    display: flex;
    overflow: hidden;
}

.sidebar {
    flex: 5.17;
}

.header2 {
    background-color: var(--main-color);
    display: flex;
    color: var(--white);
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    padding: 8px 15px;
}

.sidebar-search-container {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sidebar-search-container img {
    width: 15px;
    height: 15px;
    margin: 0 15px;
    opacity: 0.4;
}

.sidebar-search-container input {
    border: none;
    outline: none;
    margin-left: 20px;
}

.chat-avatar {
    position: relative;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex: 1;
}

.sidebar-chats {
    height: calc(100vh - 115px);
    overflow-y: scroll;
}

.sidebar-chat {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 12px;
    width: 100%;
}

.sidebar-chat:hover {
    background-color: #f5f5f5;
}

.sidebar-chat:nth-child(2) {
    background-color: #ebebeb;
}

.sidebar-chat::before {
    content: '';
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 80px;
    border-bottom: 1px solid #999;
    opacity: 0.2;
}

.chat-info {
    margin-left: 15px;
    flex: 10;
    text-align: start;
}

.chat-info p {
    font-size: 13px;
    line-height: 20px;
    color: gray;
}

.time {
    flex: 1;
}

.time p {
    white-space: nowrap;
    font-size: 13px;
    margin-top: -16px;
    color: gray;
}


/* Message Content */

.message-container {
    flex: 12;
}

.chat-title {
    display: flex;
    align-items: center;
}

.message-header-content {
    margin-left: 15px;
}

.chat-info h4 {                            /**/
    font-weight: 400;
}

.message-header-content p {
    font-size: 13px;
    color: gray;
}

.message-content {
    background-image: url(./image/whitebg.jpg);
    background-position: center;
    height: calc(100vh - 120px);
    padding: 20px 80px;
    overflow-y: scroll;
}

.chat-message {
    font-size: 14px;
    padding: 8px 10px;
    width: fit-content;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 30px;
}

.chat-sent {
    margin-left: auto;
    background-color: #dcf8c6;
}

.chat-timestamp {
    margin-left: 10px;
    font-size: 10px;
    color: grey;
}


/* message footer */

.message-footer {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #f0f0f0;
}

.message-footer img {
    flex: 1;
    width: 22px;
    height: 22px;
    opacity: 0.4;
}

.message-footer input {
    flex: 20;
    margin: 5px 10px;
    padding: 12px 15px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 15px;
}
/*chat section ends*/

/*chat section ends*/
.about-us-section{
    background-image: url(./image/whitebg.jpg);
}

.about{
    padding-top: 5rem;
    padding: 2rem;
}

.about .row{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.about .row .image img{
    width: auto; 
    height: 30rem;   
}

.reviews-heading{
    padding-top: 1rem;
}

.about .row .content{
    flex: 1 1 40rem;    
    text-align: center;
}

.about .row .content h3{
    font-size: 2.5rem;
    color: var(--main-color);    
}

.about .row .content p{
    line-height: 2;
    font-size: 1.7rem;
    color: var(--main-color);
    padding: 1rem 0;
}

.about .about-box-container{
    margin-top: 3rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.about .about-box-container .about-box{
    flex: 1 1 20rem;                    /*important*/
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    border-radius: .5rem;
    padding: 2rem;
    gap: 2rem;
}

.about .about-box-container .about-box i{
    font-size: 2.5rem;
    color: var(--white);
}

.about .about-box-container .about-box span{
    font-size: 1.5rem;
    color: var(--white);
}

.about .about-box-container .about-box h3{
    font-size: 1rem;
    color: var(--white);
}


/*reviews*/
.reviews{
    padding: 2rem;
}

.reviews .about-box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem,1fr));  /*important*/
    gap:1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.reviews .about-box-container .about-box{
    border-radius: .5rem;
    padding: 1rem;
    background-color: var(--main-color);
    padding-top: .5rem;
}

.reviews .about-box-container .about-box p{
    line-height: 1;                      /* list-style important*/
    font-size: 1rem;
    padding-top: 1rem;
    color: var(--white);
}

.reviews .about-box-container .about-box .user{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: .5rem;
}

.reviews .about-box-container .about-box .user img{
    height: 3rem;
    width: auto;
    border-radius: 50%;

}

.reviews .about-box-container .about-box .user h3{
    font-size: 1rem;
    color: var(--white);
    margin-bottom: .2rem;

}

.reviews .about-box-container .about-box .user .stars i{
    color: var(--white);
    font-size: 1rem;
}

/*res*/
.navigation-menu {
    box-sizing: border-box;
    min-width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    position: fixed;
    display: none !important;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #000000; */
    color: #f9f9f9;
    /* font-family: "Cambria"; */
  }
  
  @media only screen and (min-width: 768px) {
    .navigation-menu {
      justify-content: space-between;
      padding: 0 16px;
    }
  }
  @media only screen and (max-width: 1205px){
    .navigation-menu{
        display: block !important;
    }
    .header .nav{
        display: none;
    }
  }
  @media only screen and (max-width: 1365px){
    .header .logo .search-form input{
        min-width: auto;
    }
    .header .logo .search-form{
        justify-content: space-between;
        min-width: 24rem;
    }
  }
  .navigation-menu__overlay {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: 0.3s;
  }
  
  body.open .navigation-menu__overlay {
    visibility: visible;
    opacity: 1;
  }
  
  @media only screen and (min-width: 768px) {
    .navigation-menu__overlay {
      display: none;
    }
  }
  
  .hamburger-menu {
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    width: 64px;
    height: 64px;
  }
  
  #close-icon {
    display: none;
  }
  
  @media only screen and (min-width: 768px) {
    .hamburger-menu {
      display: block;
      background-color: white;
    }
  }
  
  .site-identity-logo {
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 18px;
    &:hover {
      color: #00ffff;
    }
  }
  
  .navigation-menu__labels {
    position: fixed;
    visibility: hidden;
    z-index: 3;
    top: 50px;
    left: 0;
    width: 50%;
    height: auto;
    padding: 20px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
    background: #000000;
    transition: translate 0.3s;
    translate: -100% 0;
    :hover {
      color: #00c6ff;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .navigation-menu__labels {
      position: static;
      top: 0;
      /* left: 0; */
      translate: 104% 39%;
      /* width: auto; */
      /* background: transparent; */
      /* flex-direction: row; */
      visibility: hidden;
    }
  }
  @media only screen and (max-width: 768px){
    body.open .navigation-menu__labels{
        translate: 0% 18% !important;
        width: 100%;
    }
    .navigation-menu__labels{
        translate: 0% 0% !important;
    }
    .hamburger-menu{
        background-color: white;
    }
  }
  @media only screen and (max-width: 650px){
    .header .logo .search-form{
        min-width: 20rem;
    }
  }
  @media only screen and (max-width: 600px){
    .header .logo {
        flex-wrap: wrap;
        justify-content: space-between;
    }
  }
  
  body.open .navigation-menu__labels {
    translate: 104% 38%;
    visibility: visible;
    background-color: black;
  }
  
  .navigation-menu__labels > a {
    color: #f9f9f9;
    background: transparent;
    padding: 0 8px;
  }
  
  .navigation-menu__labels > button.active {
    color: inherit;
  }

  /* contact us section starts */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


.contactus {
    position: relative;
    width: 100%;
    background-image: url(./image/whitebg.jpg);
    padding: 40px 100px;
    padding-top: 5rem;
}

.contactus .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactus .title h2 {
    color: var(--black);
    font-weight: 500;
}

.contactus .form {
    grid-area: form;
    border-radius: 2rem;
}

.contactus .info {
    grid-area: info;
    border-radius: 2rem;
}

.contactus .map {
    grid-area: map;
}

.contactus .content {
    padding: 40px;
    background-color: var(--main-color);
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}


.contactus .cbox {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas:
        "form info"
        "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contactus .content h3 {
    color: var(--white);
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* Form */
.contactus .formBox {
    position: relative;
    width: 100%;
}

.contactus  .formBox .row50 {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.contactus .inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.contactus .formBox .row100{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25rem;
}

.contactus .formBox .row100 .inputBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactus .inputBox span {
    color: var(--white);
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.contactus .inputBox input {
    padding: 10px;
    font-size: 1.1em;
    border-radius: .5rem;
    outline: none;
    border: 1px solid #333;
}

.contactus .inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 10rem;
    width: 20rem;
    border-radius: .5rem;
    margin-bottom: 10px;
}

.contactus .inputBox input[type="submit"] {
    background: var(--blue);
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    cursor: pointer;
    padding: 14px 15px;
}

.contactus .inputBox::placeholder {
    color: #999;
}

/* info */
.contactus .info {
    background: --ma;
}

.contactus .info h3 {
    color: #fff;
}

.contactus .info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contactus .info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.contactus .info .infoBox div p {
    color: #fff;
    font-size: 1.1em;
}

.contactus .info .infoBox div a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.contactus .sci {
    margin-top: 40px;
    display: flex;
}

.contactus .sci li {
    list-style: none;
    margin-right: 15px;
}

.contactus .sci li a {
    color: #fff;
    font-size: 2em;
    color: #ccc;
}
.contactus .sci li a:hover{
    color: #fff;
}
.contactus .map{
    padding: 0;
}
.contactus .map iframe{
    width: 100%;
    height: 100%;
}

/* Responsive Design */
@media(max-width:991px){
    .contactus{
        padding: 20px;
    }
    .contactus .cbox{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map";
    }
    .contactus .map{
        min-height: 300px;
    }
    .contactus .formBox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .contactus .inputBox{
        width: 100%;
    }
    .contactus .contact{
        padding: 30px;
    }
    .contactus .map{
        min-height: 300px;
        padding: 0;
    }
}
.videos-container .video-box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.videos-container .video-box-container .video-box {
    position: relative;
    border-radius: .5rem;
    padding: 2rem;
    background-color: var(--white);
}

.videos-container .video-box-container .video-box img {
    height: 20rem;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.videos-container .video-box-container .video-box i {
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    height: 20rem;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: var(--white);
    border-radius: .5rem;
    display: none;
}

.videos-container .video-box-container .video-box:hover i {
    display: flex;
    transition: .2s linear;
}

.videos-container .box-container .box h3 {
    font-size: 1.5rem;
    color: var(--black);
    margin-top: 1rem;
}

.videos-container .video-box-container .video-box:hover h3 {
    color: var(--main-color);
    font-size: 1.5rem;
    transition: .3s linear;
}

/* videos-container box */
.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    background: white;
    border-radius: 1.5rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: .6rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: .2s linear;
}

.box:hover {
    transform: scale(1.08);
}

.box h3 {
    font-size: 1rem;
    padding-bottom: .5rem;
}
.box span{
    color: var(--yellow);
}

.box img {
    height: 10rem;
    width: 100%;
    object-fit: contain;
}

.box-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.box-content {
    margin-top: 1rem;
}

.box-content p {
    font-size: 0.9em;
    line-height: 1.4;
    max-width: 18rem;
}
.box-content a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    margin-top: 1rem;
    display: inline-block;
}

.box-content a:hover {
    text-decoration: underline;
}






